{% extends'layouts/main.html.twig' %}

{% block breadcrumbs %}
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Fill About me</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('profile.self.home') }}">Profile</a></li>
            <li class="breadcrumb-item active"><a href="#">Fill About me</a></li>
        </ol>
    </div>
{% endblock %}

{% block title %}Profile | Fill About Me{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form.aboutMe, {'value' : aboutMe}) }}

            <br>
            <button type="submit" class="btn btn-success">
                Change
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}